/* Left content */
.left-content::before {
    background-image: url(https://rewards.starbucks.mx/_next/static/media/bg-section-left-hand.0d6943f4dd00e30428d035564a73c510.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    content: "";
    display: block;
    position: absolute;
    width: 43%;
    height: 45%;
    z-index: 0;
    bottom: 0;
    right: 0;
}

.left-content_box {
    z-index: 1;
    padding-bottom: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left-content_img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.left-content_title {
    font-size: 26pt;
    color: rgb(255, 255, 255);
    letter-spacing: normal;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-weight: 400
}

.left-content_buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    width: 100%;
}

.left-content_buttons a {
    font-weight: 700;
}

.left-button2 {
    color: rgb(51, 51, 51);
    background-color: #fff;
}

/* Right Content */
.section-box {
    padding: 40px;
}

/* Sección Beneficios */
.section-box_container {
    width: 80%;
    margin: 0 auto 0 auto;
}

.section-title {
    margin-bottom: 1.5rem;
}

h2.section-title {
    display: inline-block;
}

.section-title .boldSpan {
    font-weight: 600;
}

.starSpan {
    display: inline-block;
    margin-top: 5px;
}

.gold_star {
    width: 30px;
}

.section-benefits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-benefits_img {
    display: inline-block;
    max-width: 100%;
}

.benefit {
    padding-left: .5rem;
    padding-right: .5rem;
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 1px;
    width: 100%;
}

.benefit .img-box {
    max-width: 154px;
    max-height: 120px;
    width: 100%;
    height: auto;
    margin: 10px auto;
}

/* Sección Estrellas */

.section-estrellas.section-box {
    background: rgb(241, 240, 235);
    display: flex;
    justify-content: center;
}

.section-estrellas_content {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    min-height: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-estrellas_content h2 {
    font-weight: 600;
    margin-bottom: .5rem;
}

.estrellas-content_beneficios {
    display: flex;
    flex-direction: column;
}

.estrellas-beneficios {
    margin: 1rem 0 1rem 0;
}

.estrellas-beneficios img {
    max-width: 655px;
    margin-bottom: 1rem;
}

.estrellas-beneficios p {
    font-weight: 600;
}

/* App Section */

.app-section {
    padding-left: 15px;
    padding-right: 15px;
}

.app-section_content {
    margin: 0 auto 0 auto;
    width: 75%;
}

.app-section_content h2, .app-section_content h3 {
    margin-bottom: 0.5rem;
}

.app-section_content h2 {
    font-weight: 600;
}

.app-content_images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    text-align: left;
}

.app-content_steps {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.app-images_steps {
    display: flex;
    align-items: center;
}

.step1-box {
    margin-bottom: 3rem;
}

.step2-box {
    margin-bottom: 0.25rem;
}

.step3-box {
    margin-bottom: 1rem;
}

.steps-img_box {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.steps-img_box::before {
    background: #2c523c;
    position: absolute;
    left: -1.35rem;
    top: -0rem;
    font-weight: 600;
    color: white;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps-img_box.step1::before{
    content: "1";
}

.steps-img_box.step2::before{
    content: "2";
}

.steps-img_box.step3::before{
    content: "3";
}

.steps-img {
    max-width: 128px;
    margin-right: .5rem;
    width: 118px;
}

.steps-gif {
    max-width: 250px;
    display: inline-block;
}

.app-content_chicaImg {
    display: flex;
    align-items: center;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.app-content_chicaImg img {
    display: inline-block;
}

/* Cada Estrella Cuenta */

.cada-Estrella-cuenta {
    padding: 3rem;
    background: rgb(237, 235, 233);
}

.cadaEstrella-content {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
}

.cadaEstrella-orderPay_titleBox {
    padding: 0 15px;
    width: 100%;
}

.cadaEstrella-orderPay_title {
    font-weight: 600;
    margin-bottom: 3rem;
}

.cadaEstrella-orderPay_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;   
}

.orderPay-row_item {
    display: flex;
    align-items: center;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-bottom: 1.5rem;
    padding: 0 15px;
}

.orderPay-row_item.star {
    flex: 0 0 25%;
    max-width: 25%;
}
.orderPay-item_content {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.orderPay-img_phone {
    margin-right: 1rem;
    width: 75px;
}

.orderPay-item_content p {
    font-weight: 600;
    margin-bottom: 0;
}

/* Personalizar Starbucks Card */

.cadaEstrella-sbxCard {
    width: 80%;
    margin: 1rem auto;
    padding: 0 15px;
}

.cadaEstrella-sbxCard_title {
    font-weight: 600;
    margin-bottom: 3rem;
}

.cadaEstrella-sbxCard_content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cadaEstrella-sbxCard_content img {
    display: inline-block;
    width: 350px;
}

.sbxCard-content_text {
    flex: 1 1;
}

.sbxCard-content_text h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

/* Descargar App */

.descargarApp {
    padding: 3rem;
    max-width: 100%;
}

.descargarApp-content {
    width: 75%;
    margin: 0 auto;
}

.descargarApp-content_title {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.descargarApp-content_gif, .descargarApp-content_img {
    margin-bottom: 1rem;
}

.descargarApp-content_gif {
    max-width: 280px;
}

.descargarApp-content_p1 {
    margin-top: 1.5rem;
}

.descargarApp-content_buttons {
    margin: 0.25rem 0 1rem 0;
    width: 100%;
}

.descargarApp-button {
    margin: 1.5rem;
    display: inline-block;
}

.descargarApp-content_img {
    width: 250px;
}

/* Conoce más */

.conoceMas {
    background-color: #ecebe5;
    padding: 3rem;
    max-width: 100%;
}

.conoceMas-content {
    margin: 0 auto;
    width: 75%;
    display: flex;
    align-items: flex-start;
}

.conoceMas-content_img {
    margin: 1rem 1rem 0 0;
    width: 350px;
    align-self: center;
}

.conoceMas-content_text {
    flex: 1 1;
    align-self: center;
}

.conoceMas-content_text h3 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.conoceMas-content_text p a {
    text-decoration: underline;
    color: #006341;
}

.conoceMas-content_text p a:hover {
    text-decoration: none;
}

/* Starbucks Rewards Logo */
.rewardsLogo {
    margin: 0 auto;
    border-bottom: 1px solid #dee2e6;
}

.rewardsLogo-img {
    max-width: 50%;
}