*, *:after, *:before  {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: rgb(0 0 0 / 0.87)
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    line-height: 1.5;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-center{
    text-align: center;
}

.button {
    display: inline-block;
    background: none;
    border: 1px solid;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
}

.region {
    padding-bottom: 20px;
    padding-top: 20px;
}

.container {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1240px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/*Navbar*/

.main_header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.main_header .container {
    display: grid;
    grid-template-columns: 60px 1fr ;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 0;
}

.logo {
    width: 50px;
    display: block;
}

.menu-options, .header-menu{
    display: flex;
}

.header-menu {
    justify-content: space-between;
}

.header-menu a {
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 0.9rem;
}

.right-options {
    margin-left: 40px;
}

.left-options li {
    display: inline-block;
    margin-right: 40px;
    padding-inline-start: 0px;
    text-transform: uppercase;
}

.left-options a {
    position: relative;
}
.left-options a:hover {
    color: #00754a;
}

.left-options a:hover:before {
    bottom: -37px;
    background: #00754a;
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
}

.right-options li {
    margin-right: 20px;
}

.menu-options li:last-child {
    margin-right: 0;
}

.right-options .locator {
    position: relative;
    border: 0;
    padding-left: 20px;
}

.right-options .locator:before {
    background-image: url(https://www.starbucks.com.mx/static/images/stores.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -9999em;
    background-size: 15px;
    bottom: 0;
    content: "";
    height: 22px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 15px;
}

.right-options a.menu-register {
    background-color: #000;
    color: #fff;
}

.right-options a:hover {
    opacity: .8;
}

.main-content {
    margin-bottom: 30px;
}

/*Prefooter*/
.prefooter {    
    display: block;
    position: relative;
    z-index: 1;
    box-shadow: 0 -3px 3px rgba(0 0 0 / .1);
}

.prefooter .container {
    display: flex;
    justify-content: space-between;
}

.prefooter-lists {
    display: flex;
    position: relative;
}

.prefooter-lists .lists {
    margin-bottom: 0;
    margin-right: 40px;
    max-width: 190px;
}

.prefooter-lists .lists:last-child {
    margin-right: 0;
}

.prefooter h3 {
    font-size: 1.118rem;
    margin-bottom: 24px;
    position: relative;
    font-weight: 400;
}

.prefooter .lists ul {
    font-size: 1rem;
}

.prefooter .lists ul li {
    padding-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.prefooter .lists ul li:first-child {
    padding-top: 0;
}

.prefooter .lists ul a {
    color: #777;
}

.prefooter .lists ul a:hover {
    color: #000;
}

/*FOOTER*/
.footer {
    padding-bottom: 0;
    padding-top: 0;
    color: #999;
}

.footer-content {
    border-top: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 30px;
}

/* Social Media */
.footer-social {
    margin-bottom: 30px ;
}

.footer-social li {
    display: inline-block;
}

.footer-social li a {
    background-image: url(https://www.starbucks.com.mx/static/images/social_networks_v2.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -9999em;
    background-size: 34px;
    display: inline-block;
    height: 34px;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 34px;
}

.footer-social li a.facebook-icon {
    background-position-y: 0;
}

.footer-social li a.instagram-icon {
    background-position-y: -74px;
}

.footer-social li a.x-icon {
    background-position-y: -148px;
}

.footer-social li a.youtube-icon {
    background-position-y: -423px;
}

.footer-social li:last-child a {
    margin-right: 0;
}

.footer-social li a:hover {
    opacity: .8;
    transform: translateY(-2px);
}

/* Options*/

.footer-menu {
    margin-bottom: 15px;
    font-weight: 300;
}
.footer-menu li {
    display: inline-block;
    margin: 0 15px 10px 15px
}

.footer-menu li a {
    position: relative;
}

.footer-menu li a::after {
    content: "|";
    display: block;
    position: absolute;
    right: -15px;
    top: -2px;
}

.footer-menu li:last-child a::after {
    display: none;
}

.footer-menu li a:hover {
    color: #777;
}

/* Copyright Message */

.copyright {
    display: block;
    font-size: .875rem;
    font-weight: 300;
}
