/* -- MAIN -- */

.main-content {
    margin-bottom: 30px;
}

.row-info, .block-info {
    padding: 32px 16px;
}

.intern-box {
    max-width: 83%;
    margin: 0 auto;
}

.row-text, .block-text {
    font-size: 1.188rem;
    line-height: 1.75;
    margin-bottom: 30px;
    margin-top: 24px;
}

/* Rows */

.rows {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}

.row-title {
    font-size: 1.875rem;
    line-height: 1.385;
    font-weight: 600;
}

.row1 {
    background-color: #f7f0e4;
    color: #00754a;
}

.row2 {
    background-color: #d1d1aa;
    color: #32462f;
}

.row3 {
    background-color: #00754a;
    color: #fff;
}

.row5, .block1 {
    background-color: #00754a;
    color: #d1d1aa;
}
.row4 {
    background-color: #32462f;
    color: #d1d1aa;
}

.row2 .row_block--img, .row4 .row_block--img {
    grid-column: 2;
    grid-row: 1;
}

/*Blocks*/
.main-content--blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blocks {
    margin-bottom: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}

.block-info {
    margin: 0 auto;
    max-width: 900px;
}

.block2 {
    background-color: #f7f0e4;
    color: #32462f;
}
